# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=fdLYRnj45nrektrt847h

GITHUB_CLIENT_ID=Ov23lisIP2Lgce72rEg1
GITHUB_CLIENT_SECRET=2ac2f9a054ed887bca72671c464fddcbe5dae090
GITHUB_ACCESS_TOKEN=

GOOGLE_CLIENT_ID=1075081932286-go5u9b1c728drhdm72uea30f3t9ftg5o.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="mysql://root:739059708Jg!@175.178.115.214:3306/taxonomy?schema=public"

# -----------------------------------------------------------------------------
# Email (resend)
# -----------------------------------------------------------------------------
SMTP_FROM="onboarding@resend.dev"
RESEND_API_KEY="re_LNcSsQTW_HjRxD5zNZirfkk72ePUwiaRn"

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=retrtrt
STRIPE_WEBHOOK_SECRET=tyytry6546
STRIPE_PRO_MONTHLY_PLAN_ID=tret6546456
